<!doctype html>
<html ng-app="todomvc" data-framework="firebase">
  <head>
    <title>Firebase AngularJS Todo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <h1 class="text-center">Firebase/AngularJS Todo</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src='app.js'></script>
    <div class='container' ng-controller="TodoCtrl">
    <section class='row'>
      <header>
        <h1 class='text-center'>What do you have to do?</h1>
        <form ng-submit="addTodo()">
          <input class='form-control' placeholder="What needs to be done?" ng-model="newTodo" autofocus>
        </form>
      </header>
      <section>
      <h3>All things todo</h3>
      <div class="list-group">
        <div ng-repeat="todo in todos" class="list-group-item">
          <div class="view">
            <label>{{todo.title}}</label>
            <button class='btn btn-danger pull-right' ng-click="removeTodo(todo)">X</button>
          </div>
        </div>
     </div>
     </section>
    </section>
    </div>
  </body>
</html>
